<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div align="center">
        <h1>Hello!!</h1>
        <h1>What kind of password do you want!!</h1>
        <form action={% url 'passwordurl' %}>
        <label for="length">Choose length:</label>
        <select name="length" id='length'>
            <option value=6>6</option>
            <option value=7>7</option>
            <option value=8>8</option>
            <option value=9>9</option>
            <option value=10>10</option>
            <option value=11>11</option>
            <option value=12>12</option>
        </select>
        <br>
        <br>
        <input type='checkbox' name='uppercase'>Uppercase</input>
        <input type='checkbox' name='number'>number</input>
        <input type='checkbox' name='specialchar'>specialchar</input>
        <br>
        <br>
        <input type='submit' value='Gen Pass'>
        </form>
        </div>
    </body>
</html>